.button {
  background: var(--color-primaryLight-40);
  border: none;
  border-radius: 40px;
  color: var(--color-base-white);
  cursor: pointer;
  display: inline-block;
  flex: 0;
  font:
    16px/1 "proxima-nova",
    sans-serif;
  padding: 12px 32px;
  transition: background 150ms;
  white-space: nowrap;
}

.button.login-button {
  font-size: 0.7em;
  min-height: 40px;
  padding: 0 16px;
}

@media (min-width: 769px) {
  .button.login-button {
    padding: 9px 25px;
    line-height: 1;
    min-height: auto;
  }
}
